/* Setting the Background color for the page. */
body {
    background-color: #054f61;
}
/* Slightly increasing the sizing of the placeholder logo. */
.company-logo img {
    width: 8rem;
}
/* Setting the width for the page content and centering it. */
.appointment-page-content {
    width: 80%;
    max-width: 82rem;
    min-width: 990px;
    margin: 3rem auto;
}
/* Changing the color and centering the text. */
.heading,
.footer {
    text-align: center;
    color: white;
}
/* Setting the look for the paragraph elements. */
.heading p,
.footer p {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
/* Setting the look for the primary heading. */
.heading h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 1.5rem;
}
/* Creating the rules for the primary contianer. Including setting up the flex, setting the size, etc. */
.date-time-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    max-width: 750px;
    background-color: white;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2a3135;
}
/* Flexing the content into two columns. */
.date-time-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}
/* Setting the look for the form headers. */
.date-time-form h3,
.date-time-form h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}
.date-time-form h4 {
    margin: 0;
}

/* Customizing the look for the react calendar component. */
.react-calendar {
    border: none !important;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
/* Customization for the date tiles. */
.react-calendar__tile {
    background-color: rgb(255, 255, 255) !important;
}
.react-calendar__tile:hover {
    background-color: rgba(0, 87, 179, 0.15) !important;
}
/* Customization for the active date tile. */
.react-calendar__tile--active {
    background-color: rgba(0, 123, 255, 0.89) !important;
    color: rgb(255, 255, 255) !important;
    transition: all 300ms ease-in-out;
}
.react-calendar__tile--active:hover {
    background-color: rgb(0, 86, 179) !important;
}
/* Styles for the Timezone selector. */
.calendar-container label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
}
.calendar-container select {
    cursor: pointer;
    border: none;
    width: 100%;
    font-family: inherit;
    padding: 0.5rem;
    font-size: inherit;
    font-weight: inherit;
}
/* Set up flex for AM and PM time slot section. */
.time-slots-columns {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}
.time-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* Individual time slot styling. */
.time-slot-button {
    width: 150px;
    padding: 0.75rem;
    border-radius: 3px;
    border: solid 1px rgb(230, 237, 242);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.time-slot-button:hover {
    background-color: rgba(0, 87, 179, 0.15);
}
/* Load More button styling. */
.load-more-button {
    border: none;
    padding: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 123, 255);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.load-more-button:hover {
    color: rgb(0, 86, 179);
}
/* Select Date button styling */
.select-date-time-btn {
    margin: 3rem;
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    transition: all 300ms ease-in-out;
}
.select-date-time-btn:hover {
    background-color: rgb(0, 86, 179);
}

/* TODO: Add responsive styles added. */
